<app-navbar></app-navbar>
<!-- About Us Page -->
<section class="bg-gray-100 py-20">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl font-extrabold mb-8 text-center text-blue-800">About Us</h1>
      <div class="flex flex-col md:flex-row md:space-x-8">
        <!-- School History -->
        <div class="bg-white p-8 rounded-lg shadow-lg mb-8 md:mb-0 md:w-1/2">
          <h2 class="text-2xl font-semibold mb-4 text-blue-800">Our History</h2>
          <p class="text-gray-700">
            Springfield High School has a rich history of academic excellence and community involvement. Founded in 1985, we have grown into a leading institution dedicated to providing top-notch education and fostering a supportive environment for all students.
          </p>
        </div>
        
        <!-- Mission & Vision -->
        <div class="bg-white p-8 rounded-lg shadow-lg md:w-1/2">
          <h2 class="text-2xl font-semibold mb-4 text-blue-800">Mission & Vision</h2>
          <p class="text-gray-700 mb-4">
            Our mission is to empower students with the knowledge and skills they need to succeed in a rapidly changing world. We strive to create a nurturing environment that encourages lifelong learning and personal growth.
          </p>
          <p class="text-gray-700">
            Our vision is to be a beacon of educational excellence, recognized for our commitment to innovation, inclusivity, and academic achievement.
          </p>
        </div>
      </div>
    </div>
  </section>
  