<app-navbar></app-navbar>

<div class="min-h-screen bg-gray-100 flex items-center justify-center">
    <div class="bg-white shadow-md rounded-lg p-8 w-full max-w-md">
      <h1 class="text-2xl font-bold text-gray-700 mb-6 text-center">Teacher Login</h1>
      <form  (submit)="submitBtn()" >
        <div class="mb-4">
          <label for="email" class="block text-gray-700">Email</label>
          <div class="relative">
            <input formControlName="email" type="email" id="email" class="w-full pl-10 pr-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <i class="fas fa-envelope text-gray-400"></i>
            </span>
          </div>
         

        </div>
        <div class="mb-4">
          <label for="password" class="block text-gray-700">Password</label>
          <div class="relative"> 
            <input formControlName="password" type="password" id="password" class="w-full pl-10 pr-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <i class="fas fa-lock text-gray-400"></i>
            </span>
          </div>
         
        </div>
        <button type="submit" class="w-full bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700">Log In</button>
      </form>
    </div>
  </div>
  